.date-grid {
    width: min(900px, 90vw);
    min-height: 500px;

    margin: 60px auto;

    display: flex;
    align-items: flex-end;
    gap: 10px;

    overflow-x: auto;

    padding: 40px;
}

.date-box {
    flex: 0 0 65px;

    width: 65px;
    height: 65px;

    display: grid;
    place-items: center;

    background: rgba(199, 165, 103, 0.9);

    border: 2px solid rgba(255, 255, 255, 0.8);

    color: #2b066a;

    font-family: "Source Code Pro", monospace;
    font-size: 18px;
    font-weight: 600;

    box-shadow:
        0 5px 10px rgba(0, 0, 0, 0.15);
}